---
- name: install talosctl
  ansible.builtin.shell:
    cmd: curl -sL https://talos.dev/install | sh
  become: true
  changed_when: false

- name: generate talos secrets
  ansible.builtin.command:
    cmd: talosctl gen secrets --output-file {{ role_path }}/talosconfig/secrets.yaml
    creates: "{{ role_path }}/talosconfig/secrets.yaml"

- name: generate talos configs
  ansible.builtin.command:
    argv: 
      - talosctl
      - gen
      - config
      - talos
      - https://{{ control_plane_vip }}:6443
      - --config-patch={{ role_path }}/talosconfig/all-patch.yaml
      - --config-patch-control-plane={{ role_path }}/talosconfig/cp-patch.yaml
      - --with-secrets={{ role_path }}/talosconfig/secrets.yaml
      - --output={{ role_path }}/talosconfig/
      - --force
  changed_when: false

- name: deploy talos
  community.general.terraform:
    project_path: '{{ role_path }}/terraform'
    force_init: true
    complex_vars: true
    parallelism: 1
    variables:
      vsphere_username: "{{ vsphere_username }}"
      vsphere_password: "{{ vsphere_password }}"
      vsphere_server: "{{ vsphere_server }}"
      vsphere_datacenter: "{{ vsphere_datacenter }}"
      vsphere_datastore: "{{ vsphere_datastore }}"
      vsphere_cluster: "{{ vsphere_cluster }}"
      vsphere_resource_pool: "{{ vsphere_resource_pool }}"
      vsphere_network: "{{ vsphere_network }}"
      vsphere_content_library: "{{ vsphere_content_library }}"
      vsphere_folder: "{{ vsphere_folder }}"
      talos_ova_url: "{{ talos_ova_url }}"
      control_plane_vip: "{{ control_plane_vip }}"
      node_subnet_cidr: "{{ node_subnet_cidr }}"
      node_netmask: "{{ node_netmask }}"
      default_gateway: "{{ default_gateway }}"
      vm_config: "{{ vm_config }}"

- name: get bootstrap node status
  ansible.builtin.command:
    argv:
      - talosctl
      - --talosconfig={{ role_path }}/talosconfig/talosconfig
      - --endpoints={{ bootstrap_node }}
      - --nodes={{ bootstrap_node }}
      - get
      - machinestatus
      - --output=json
  vars:
    bootstrap_node: "{{ node_subnet_cidr | ansible.utils.ipaddr('next_usable') }}"
  register: bootstrap_node_status
  changed_when: false

- name: get etcd members
  ansible.builtin.command:
    argv:
      - talosctl
      - --talosconfig={{ role_path }}/talosconfig/talosconfig
      - --endpoints={{ bootstrap_node }}
      - --nodes={{ bootstrap_node }}
      - get
      - etcdmembers
  vars:
    bootstrap_node: "{{ node_subnet_cidr | ansible.utils.ipaddr('next_usable') }}"
  register: etcd_members
  changed_when: false

- name: bootstrap etcd
  ansible.builtin.command:
    argv:
      - talosctl
      - --talosconfig={{ role_path }}/talosconfig/talosconfig
      - --endpoints={{ bootstrap_node }}
      - --nodes={{ bootstrap_node }}
      - bootstrap
  vars:
    bootstrap_node: "{{ node_subnet_cidr | ansible.utils.ipaddr('next_usable') }}"
    bootstrap_stage: "{{ bootstrap_node_status.stdout | from_json | json_query('spec.stage') }}"
    etcd_members_count: "{{ etcd_members.stdout_lines[1:] | count }}"
  when: bootstrap_stage == "booting" and etcd_members_count != vm_config.control_plane.count

- name: wait for etcd members to join
  ansible.builtin.command:
    argv:
      - talosctl
      - --talosconfig={{ role_path }}/talosconfig/talosconfig
      - --endpoints={{ bootstrap_node }}
      - --nodes={{ bootstrap_node }}
      - etcd
      - members
  vars:
    bootstrap_node: "{{ node_subnet_cidr | ansible.utils.ipaddr('next_usable') }}"
    etcd_members_count: "{{ etcd_members.stdout_lines[1:] | count }}"
  register: etcd_members
  until: etcd_members.stdout_lines[1:] | count == vm_config.control_plane.count
  retries: 60
  delay: 5
  changed_when: false

- name: wait for bootstrap node to be running
  ansible.builtin.command:
    argv:
      - talosctl
      - --talosconfig={{ role_path }}/talosconfig/talosconfig
      - --endpoints={{ bootstrap_node }}
      - --nodes={{ bootstrap_node }}
      - get
      - machinestatus
      - --output=json
  vars:
    bootstrap_node: "{{ node_subnet_cidr | ansible.utils.ipaddr('next_usable') }}"
  register: bootstrap_node_status
  until: bootstrap_node_status.stdout | from_json | json_query('spec.stage') == "running"
  retries: 60
  delay: 5
  changed_when: false

- name: get kubeconfig
  ansible.builtin.command:
    argv:
      - talosctl
      - --talosconfig={{ role_path }}/talosconfig/talosconfig
      - --endpoints={{ bootstrap_node }}
      - --nodes={{ bootstrap_node }}
      - kubeconfig
      - "{{ lookup('env', 'HOME') }}/.kube/config"
  vars:
    bootstrap_node: "{{ node_subnet_cidr | ansible.utils.ipaddr('next_usable') }}"
  changed_when: false

- name: wait for nodes
  kubernetes.core.k8s_info:
    api_version: v1
    kind: Node
  register: nodes
  until: >
    nodes.resources is defined and
    nodes.resources | count == vm_config.control_plane.count + vm_config.worker.count
  retries: 60
  delay: 5
  changed_when: false

- name: get latest gateway-api release
  ansible.builtin.uri:
    url: https://api.github.com/repos/kubernetes-sigs/gateway-api/releases/latest
  register: gateway_api_release

- name: install gateway-api crds
  kubernetes.core.k8s:
    src: https://github.com/kubernetes-sigs/gateway-api/releases/download/{{ gateway_api_release.json.tag_name }}/standard-install.yaml
    apply: true
    server_side_apply:
      field_manager: ansible

- name: install cilium
  kubernetes.core.helm:
    chart_ref: oci://quay.io/cilium/charts/cilium
    chart_version: '{{ cilium_version }}'
    release_name: cilium
    release_namespace: kube-system
    set_values:
      - value: ipam.mode=kubernetes
      - value: kubeProxyReplacement=true
      - value: securityContext.capabilities.ciliumAgent="{CHOWN,KILL,NET_ADMIN,NET_RAW,IPC_LOCK,SYS_ADMIN,SYS_RESOURCE,DAC_OVERRIDE,FOWNER,SETGID,SETUID}"
      - value: securityContext.capabilities.cleanCiliumState="{NET_ADMIN,SYS_ADMIN,SYS_RESOURCE}"
      - value: cgroup.autoMount.enabled=false
      - value: cgroup.hostRoot=/sys/fs/cgroup
      - value: k8sServiceHost=localhost
      - value: k8sServicePort=7445
      - value: gatewayAPI.enabled=true
      - value: gatewayAPI.enableAlpn=true
      - value: gatewayAPI.enableAppProtocol=true
    wait: true

- name: wait for nodes to be ready
  kubernetes.core.k8s_info:
    api_version: v1
    kind: Node
  register: nodes
  until:  nodes | json_query('resources[].status.conditions[?type==`Ready` && status==`True`]') | count == vm_config.control_plane.count + vm_config.worker.count
  retries: 60
  delay: 5
  changed_when: false
