ui = true
cluster_addr = "https://127.0.0.1:8201"
api_addr = "https://vault.{{ domain_name }}:8200"
disable_mlock = true

storage "raft" {
  path = "/opt/vault/data"
  node_id = "raft_node_1"
}

listener "tcp" {
  address       = "0.0.0.0:8200"
  tls_cert_file = "/opt/vault/tls/vault.{{ domain_name }}_fullchain.crt"
  tls_key_file  = "/opt/vault/tls/vault.{{ domain_name }}.key"
}
