---
- hosts: localhost
  gather_facts: no
  roles:
    - role:  talos
  vars:
    vsphere_resource_pool: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          37386431313134376238386130383435393935376531633632656335613034343762346564383432
          3531623563313336373866633337326134653930306265630a663231633234663264323930643362
          61623535636161376438613731636661313936353061363532663931353434386131366466303864
          3435616631646239610a616234643234366331343231643161623731626435623336656131383162
          3534

    vsphere_network: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          35353432383765303838306335313166306366363838386435626366353561323763613036363865
          3532613230643436363931663036316533613631333266390a613464383062323538626361353562
          62346339613766613233663962623965646337636331643564396239303336313531313466316539
          3366656266636366620a626633326165643361353234376239346435376331666233373836646534
          30343364646134333933323266393766383933303830303264323562363932353161

    vsphere_content_library: "Content Library"
    talos_ova_url: https://factory.talos.dev/image/903b2da78f99adef03cbbd4df6714563823f63218508800751560d3bc3557e40/v1.12.3/vmware-amd64.ova
    control_plane_vip: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          61356231666435383238346434633538656335333762306566353639633133343732356561656164
          3064643535376136396264326138333133633235353732370a333362366539383833376431366430
          32326362383461666161303461306439313563336238643436363335323338346136383538613366
          6332613563366663300a306366346165653334386339316364663361343333306538656662393562
          3530
    node_subnet_cidr: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          30613939613738666366616337336566393263343939373733366437306230393233346338333063
          3138656262373065653039356536383736613137366264660a633633393135313262353965636662
          33353331323830663935306431663263613438393735323061613434656662353438623863623333
          3338323963343466360a313939313735326532383938353037326361323463616333373637616130
          3137
    node_netmask: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          33636439386531393535626133303063306437616661356537626336633637643637376261373934
          3263343366636237306332396261326239383631353133660a613036613561333637303763303237
          32616362333865613233346466313263366234643164323834346230346166333065323838396633
          6462376634353861380a636138613866653765333535643335316332666537343038323564623336
          3165
    default_gateway: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          64396562616137373133663734313263353661613065363237323133653539313637336430303664
          3262373236663039633331323065306539376139616138360a333935366363633931323162396331
          62343935356662346131346336623838356639333637316661336139623763336462356630333163
          3163663833376662370a663837396333356636393362666230613030316338313737376536303732
          6161
    vm_config:
      control_plane:
        count: 3
        name_prefix: "ops-talos-control"
        num_cpus: 2
        memory_mb: 2048
        disk_gb: 16
      worker:
        count: 3
        name_prefix: "ops-talos-worker"
        num_cpus: 2
        memory_mb: 2048
        disk_gb: 16
