instance-id: {{ vm_name }}
hostname: {{ vm_name }}
local-hostname: {{ vm_name }}
fqdn: {{ vm_name }}.{{ vm_domain }}
network:
  version: 2
  ethernets:
    ens160:
      dhcp4: false
      addresses:
        - {{ vm_cidr }}
      gateway4: {{ vm_gateway }}
      nameservers:
        search: [{{ vm_domain }}]
        addresses: [{{ vm_dns }}]
